<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">

          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>

          </div>

          <h1>The Bento-dev project in few words</h1>

          <p>
          The present project aims to gather developers interested in creating a gui software to ease the configuration of the different parts in an Openbox only desktop environment.
          </p>

          <p>
          Bento is an Ubuntu Openbox Remix easy to use, built with programs allowing to make it look like a full fledged desktop, while lighter. It comes with the desired programs for the everyday use, Office, Multimedia, and Internet, and additional tools for the more advanced users.
          </p>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Bento Dev<br />
                linuxvillage@gmx.fr
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/Bento-dev">github.com/bento-dev</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
